@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #a2a9b3;
}
.task__manager--container {
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  width: 500px;
  min-height: 300px;
  padding: 20px;
  margin: 50px auto;
}

.task:hover .task-content {
  transform: translateX(-100px);
}
/* .task:hover .completed {
  display: flex;
  transform: translateX(-20px);
} */

.action {
  height: 40px !important;
}
